extends ./layout/index
block contenido 
     main.container.mt-5 
             .row 
                 .col-md-5 
                      img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
                 .col-md-7
                      h1= pagina
                      blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie blandit ipsum blandit pharetra. Pellentesque quis commodo tellus, vel pellentesque velit. Integer aliquam, neque ut iaculis placerat, augue lacus consequat turpis, at gravida leo dui in dolor. Mauris ultrices nunc semper iaculis tempus. Quisque vel malesuada eros, ut sollicitudin mauris.  

                      p Curabitur porttitor ornare libero sed condimentum. Maecenas gravida nisi eget ante semper, et condimentum mi molestie. Morbi nec semper sem. Nullam pretium interdum commodo. Morbi a vulputate felis, euismod tempus dui. Suspendisse potenti. Vivamus mi ante, lobortis vel tortor non, tristique fermentum magna. 

                      p Phasellus eu porta mi. Vivamus eget ligula dapibus, sodales diam quis, ultricies nisi. Aenean molestie nibh nisi, ut ullamcorper odio vestibulum malesuada. Morbi sodales, risus sit amet consectetur lobortis, nisi justo gravida arcu, eu rutrum massa turpis vel eros. Pellentesque ultricies tortor eget ante malesuada imperdiet. In malesuada est ut euismod accumsan. Integer ultricies sem elit, et tempor elit cursus sit amet. 
     .listado-iconos 
        .container.mt-5.py-5.text-center 
               .row 
                    .col-md-4
                          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                          h2.mb-4 Seguridad 
                          p Pellentesque ultricies tortor eget ante malesuada imperdiet. In malesuada est ut euismod accumsan. Integer ultricies sem elit, et tempor elit cursus sit amet. 
                    .col-md-4
                          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                          h2.mb-4 Seguridad 
                          p Pellentesque ultricies tortor eget ante malesuada imperdiet. In malesuada est ut euismod accumsan. Integer ultricies sem elit, et tempor elit cursus sit amet. 
                    .col-md-4
                          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                          h2.mb-4 Seguridad 
                          p Pellentesque ultricies tortor eget ante malesuada imperdiet. In malesuada est ut euismod accumsan. Integer ultricies sem elit, et tempor elit cursus sit amet. 
